# Nodul principal de pachete
node_modules/

# Fișierele log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Fișierele generate în timpul rulării aplicației
*.log
*.pid
*.seed
*.pid.lock

# Fișierele temporare
.tmp/
temp/

# Fișierele mediului de configurare
.env
.env.test
.env.production

# Configurări IDE
.idea/
.vscode/
*.sublime-workspace

# Fișierele de build (dacă folosești o unealtă de build)
dist/
build/

# Fișierele sistemului de operare
.DS_Store
Thumbs.db

# Depozit Git local
.git/

#
server/database/digital-journal-26df0-firebase-adminsdk-yuu40-36f52841f7.json
server/database/*.json
